
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
                <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img class="n-logo" src="assets/img/logo-latest.png" alt="TechConnect" style="max-width: 30%;" >
                        </div>
                        <div class="header text-center">
                            <h4 class="title title-up">Forgot Password</h4>
                            </div>
                    </div>
            <div class="card card-login card-plain">
                <form class="form"  (ngSubmit)="onSubmit(f)" #f="ngForm">
                   
                    <div class="content">

                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">  <i class="now-ui-icons objects_key-25"></i></span>
                                    </div>
                                      <input id="verificationCode" type="verificationCode" maxlength="50" ngModel class="form-control" name="verificationCode" placeholder="Verification Code.." >
                                  </div>

                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons ui-1_email-85"></i></span>
                        </div>
                          <input type="password" ngModel class="form-control" name="password" placeholder="New Password.." >
                      </div>
                   
                    </div>
                    <div class="footer text-center">
                            <input type="submit" class="btn btn-primary btn-round btn-lg btn-block"  value="Reset Password!" />
                            <input class="btn btn-primary btn-round btn-lg btn-block" (click)="back()"  value="Back!" />
                    </div>
                    <div *ngIf="error">
                        <strong>{{error}}</strong>
                     </div>
                    <!-- <div class="pull-right">
                        <h6>
                            <a href="#" class="link">Need Help?</a>
                        </h6>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
    
    <footer class="footer">
            <div class="container">
                <div class="copyright">
                    &copy;
                  {{data | date: 'yyyy'}} TechConnect, Designed and developed by TechConnect Team.
                  
                </div>
            </div>
        </footer>
</div>
