.button {
    display: inline-block;
    background-color: transparent;
    border: 2px solid white;
    color: gold;
    text-align: center;
    font-size: 150%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
    width: 100%;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #2e42f3e3;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }