.button {
    display: inline-block;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-size: 150%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
    width: 100%;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #2e42f3e3;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .btn-save-changes {
    background-color: rgba(17, 0, 255, 0.592);
    color: white;
    border: none;
  }

  .btn-save-changes:hover {
    background-color: rgba(17, 0, 255, 0.952);
    color: white;
    cursor: pointer;
  }

  .scrollable-content {
    overflow-x:hidden;
    overflow-y:scroll; // manage scrollbar content overflow settings
  }
  .scrollable-content::-webkit-scrollbar {
    width:30px; // manage scrollbar width here
  }
  .scrollable-content::-webkit-scrollbar * {
    background:transparent; // manage scrollbar background color here
  }
  .scrollable-content::-webkit-scrollbar-thumb {
    background:rgba(255, 0, 0, 0) !important; // manage scrollbar thumb background color here
  }

  .table-fixed thead {
    width: 100%;
    }
    .table-fixed tbody {
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
    }
    .table-fixed tbody td, .table-fixed thead > tr> th {
    display: inline-block;
    border-bottom-width: 0;
    }