<!-- *ngIf="auth.isLoggedIn() && globalService.isPUser() && isDataLoaded" -->

<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="content-center">
            <br>
            <br>
            <br>

            <div style="display: block;" style="background-color: white;">
                <canvas baseChart [datasets]="
                barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                [chartType]="barChartType" (chartHover)="chartHovered($event)" [colors]="barChartColor">
                </canvas>
            </div>
        </div>
    </div>
</div>